[Unit]
Description=pootle rqworker

[Service]
ExecStart=/var/www/pootle/env/bin/pootle rqworker
Restart=on-abort
User=pootle
Group=users

[Install]
WantedBy=multi-user.target
